#cont-foot-1{
    background-color: #6B2099;
    padding-left: 80px;
    padding-right: 80px;
    padding-top:20px;
    padding-bottom: 10px;
}

#p-ft-1{
    font-size: 18px;
    color: white;
    font-weight: 600;
}

#insira-email{
    height: 50px;
    width: 170px;
    color: #000000;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#select{
    height: 50px;
    width: 170px;
    color: #000000;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#botao{
    height: 50px;
    width: 170px;
    color: #000000;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.p-ft-2{
    font-size: 20px;
    color: #6B2099;
    font-weight: 700;
    text-align: center;
}

#cont-foot-2{
    background-color: #EDCFFF;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.coluna-redes{
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    
}

/* IMAGENS FOOTER */

.imgs-redes{
    height: 45px;
    width: 45px;
    margin-top: 5px;
    margin-bottom: 25px;
  
}

.imgs-pag{
    height: 45px;
    width: 55px;
    margin-top: 5px;
    margin-bottom: 25px;
}

#cont-foot-3{
    background-color: #DA9EFF;
    padding-left: 0;
    padding-right: 0;
}

#p-ft-3{
    color: #00000080;
    font-size: 15px;
    margin-bottom: 0px;
}