p {
    margin: 1px 0;
}

/* Parte 1*/

#cont-foot-1{
    background-color: #6B2099;
    padding: 15px 70px;
    margin: 0;
}

#p-ft-1{
    font-size: 15px;
    color: white;
    font-weight: 700;
}

#cont-foot-1 form {
    display: flex;
}

.input {
    height: 35px;   
    width: 240px;
    padding-left: 1em;
    background-color: #D9D9D9;
    
    border: none;
    border-radius: 5px;

    font-size: 13px;
    font-weight: 700;
    color: #000000;
}

.input:focus-visible {
    outline: 1px solid #DA9EFF;
}

#select {
    width: 150px;
    cursor: pointer;
}

#botao {
    width: 100px;
    padding: 0;
    background-color: #eeeeee;
}

/* Parte 2*/

#cont-foot-2{
    background-color: #EDCFFF;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.p-ft-2{
    font-size: 20px;
    color: #6B2099;
    font-weight: 700;
    text-align: center;
}

.coluna-redes{
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    
}

/* IMAGENS FOOTER */

.imgs-redes{
    height: 45px;
    width: 45px;
    margin-top: 5px;
    margin-bottom: 25px;
  
}

.imgs-pag{
    height: 45px;
    width: 55px;
    margin-top: 5px;
    margin-bottom: 25px;
}

/* Parte 3 */

#cont-foot-3{
    background-color: #DA9EFF;
    padding-left: 0;
    padding-right: 0;
}

#p-ft-3{
    color: #00000080;
    font-size: 15px;
    margin-bottom: 0px;
}