/* Icons Bootstrap*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
/* Google Fonts - Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: linear-gradient(#fff 10%, #EAD4FF 90%);
}

.caixa {
    padding-bottom: 2em;
    border-bottom: .0625em solid rgba(0, 0, 0, 0.5);
}

#navigation {
    margin-top: 1em;
}

/* Info Produto */

#infoProduto {
    padding-top: 5em;
}

#nomeProduto {
    border-bottom: .125em solid #C3C3C3 ;
}

.title {
    font-size: 1.5625em;
    font-weight: 700;
}

.bi-star {
    color: #00000040;
    font-size: 18px;
}

.bi-star-fill {
    color: #FFCA05;
    font-size: 18px;
}

#classificacao {
    margin-top: .5em;
    margin-bottom: 1.5em;
}

#estrelas {
    display: flex;
    border-right: .0625em solid #C3C3C3;
}

#prodDisponivel {
    font-size: .75em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #4DBE31;
}

#selecione {
    padding: 0 1em;
    margin-bottom: 1.5em;
}

#selecione > select {
    padding: .5em 1em;
    background-color: #fff;
    border-radius: 5px;
    border: .0625em solid #6B2099;
}

#selecione > select:focus-visible {
    outline: .0625em solid #68119e;
    background-color: #f9f1fd;
}

#valor {
    font-weight: 700;
    font-size: 1.25em;
    color: #6B2099;
}

[type=number] {
    height: 2em;
    width: 2em;
    text-align: center;
    border: none;
    border-top: .0625em solid rgba(0, 0, 0, 0.5);
    border-bottom: .0625em solid rgba(0, 0, 0, 0.5);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

#btn-qnta button {
    height: 2em;
    background: #fff;
}

.up {
    border: .0625em solid rgba(0, 0, 0, 0.5);
    border-left: none;
}

.down {
    border: .0625em solid rgba(0, 0, 0, 0.5);
    border-right: none;
}

#add {
    height: 2em;
    width: 14.5em;
    background-color: #4DBE31;
    border-radius: 5px;
    color: #fff;
    border: none;
}

/* Detalhes */

.row > h2 {
    padding-top: 2em;
}

.row ul, .title p {
    padding-top: 2em;
    padding-left: 3em;
}

#headList {
    font-weight: 700;
}

/* Avaliações */

.cards {
    padding: 3em 2em;
}

.card {
    display: flex;
    padding: 1em 1.5em;
    width: 15em;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.avalTop {
    padding-bottom: 0.25em;
    border-bottom: .0625em solid #C3C3C3;
}

.aval {
    font-weight: 700;
    padding-bottom: 2em;
}

.avalBottom {
    font-weight: 300;
    border-top: .0625em solid #C3C3C3;
}

.avalBottom p {
    padding: .5em;
    margin: 0;
}

@media(max-width: 992px) {
    #estrelas {
        padding: 0em 1.5em;
    }

    .card {
        margin-top: 1em;
    }
}