body {
    background-image: linear-gradient(#fff 10%, #EAD4FF 90%);
}

.primary-color {
    color: #6B2099;
}

.secondary-color {
    color: #DA9EFF;
}

.top-header {
    background-color: #DA9EFF;
}

.top-header small {
    padding: 8px;
    cursor: pointer;
}

.navbar {
    background-color: #F6DBF9;
}

#navbar-main {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

#search-container {
    display: flex;
    align-items: center;
}

#search-container input {
    border-radius: 10px;
    outline: none;
}

#search-container input:focus {
    box-shadow: none;
    border: 1px solid #6B2099;
}

#search-input::placeholder {
    color: #6B2099;
    border-bottom-color: #6B2099;
}

#btn-login .btn {
    box-shadow: 2px 2px 2px #ccc;
}

.mid-navbar {
    text-transform: uppercase;
    font-weight: bold;
}
    
/*Navbar Stroke effect*/

#nav-effect ul {
    list-style: none;
    margin: 0;
}

#nav-effect ul li {
    display: inline-block;
    display: inline;
}

#nav-effect ul li a {
    padding-bottom: 10px;
    text-decoration: none;
    color: #6B2099;
}

#nav-effect ul li a, #nav-effect ul li a:after, #nav-effect ul li a:before {
    transition: all 0.5s;
}

#nav-effect ul li a:hover {
    color: #DA9EFF;
}
  
#nav-effect.stroke ul li a {
    position: relative;
}

#nav-effect.stroke ul li a:after, #nav-effect ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: #DA9EFF;
    height: 1px;
}

#nav-effect.stroke ul li a:hover:after {
    width: 100%;
}
  
#nav-effect ul li a {
    transition: all 1s;
}
  
#nav-effect ul li a:after {
    text-align: left;
    content: ".";
    margin: 0;
    opacity: 0;
}

#nav-effect ul li a:hover {
    color: #DA9EFF;
    z-index: 1;
}

#nav-effect ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    opacity: 1;
}

.responsive .dropdown:hover .dropdown-menu{
    display: block;
}

/* MODAL Login Form*/

.modal-body {
    padding: 0;
}

.modal-content {
    width: 80%;
    margin-inline: auto;
}

.my-form {
    padding: 2em;
    color: #fff;
    max-width: 100%;
    margin-inline: auto;
    box-shadow: 0px 4px 6px 0 rgb(0, 0, 0, 0.5);
    background-color: #6B2099;
}

.form-btn-close {
    position: absolute;
    right: 0;
    padding: 1em;
}

.header-form {
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
}

.form-campo {
    background-color: inherit;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    padding-left: 0;
}

.form-campo:focus {
    background-color: inherit;
    color: #fff;
    box-shadow: none;
    border-color: #fff;
}

.btn-form {
    border-radius: 0;
    width: 100%;
    font-weight: bold;
}

.footer-form {
    color: gray;
    text-align: center;
}

.footer-form a {
    color: #e1e1e1;
    text-decoration: none;
}

.footer-form a:hover {
    color: #fff;
}


/*--------*/

@media only screen and (min-width: 700px) {
    .smartphones {
        display: none;
        background-color: #DA9EFF;
    }
}

@media only screen and (max-width: 700px) {
    .responsive {
        display: none;    
    }

}

.text-responsive {
    color: #6B2099;
    font-weight: bold;
}

.text-responsive:hover {
    color: #DA9EFF;
}

.text-dropdown {
    color: #6B2099;
}

.text-dropdown:hover{
    color: #DA9EFF;
}

.dropdown-header {
    font-size: 1.2em;
    margin-top: .5em;
    margin-bottom: .5em;
}

/* SLIDER */

#slider-container {
    margin-top: 3em;
    margin-bottom: 5em;
}

#slider-container .carousel-item img{
    width: 100%;
    height: auto;
    border-radius: 30px;
}

/* BANNER-SERVIÇOS*/

#service-banner {
    margin-bottom: 5em;

}


#service-banner .btn {
    outline: 1px solid #6B2099;
}

#service-banner .btn:hover {
    color: #fff;
    background-color: #6B2099;
}

/* PRODUTOS RECOMENDADOS */

#recommended-products {
    margin-bottom: 5em;
}

#recommended-products .tittle {
    font-size: 1.6em;
}

@media (min-width: 700px) {
    .tittle {
        font-size: 2em;
    }
}

/* SLIDER PRODUTOS RECOMENDADOS */

#slider-products .carousel-inner {
    padding: 1em;
}

#slider-products .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

#slider-products .carousel-item {
    max-width: 330px;
}

#slider-products .carousel-control-prev, 
#slider-products .carousel-control-next {
    background-color: #6B2099;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 700px) {
    #slider-products .carousel-item {
      margin-right: 0;
      display: block;
    }
    #slider-products .carousel-inner {
      display: flex;
    }
}

#slider-products .card {
    width: 300px;
}

#slider-products .card .img-wrapper {
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}

#slider-products .card img {
      max-height: 200px;
      max-width: 200px;
}

@media (max-width: 700px) {

    #slider-products .card .img-wrapper {
      height: 17em;
    }
}

#slider-products {
    margin-bottom: 2em;
}

/* CARDS DE PORDUTOS */


#slider-products .card-title {
    font-size: 1.1em;
}

#slider-products .card-body strong{
    font-size: 1.1em;
}

#slider-products .card-body .badge {
    max-width: 80px;
    margin-top: 1.6em;
    margin-left: 1em;
    font-size: .8em;
}

/* FAVORITOS DOS CACHORROS */

#fav {
    margin-bottom: 5em;
}

#fav .tittle {
    font-size: 1.5em;
}

#fav .card {
    font-size: 1.1em;
    margin-top: 5em;
    background-color: inherit;
    border: none;
    display: flex;
    align-items: center;
}

#fav img {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

#fav .card-title{
    color: #6B2099;
    cursor: pointer;
    text-decoration: none;
}

#fav .card-title:hover{
    color: #DA9EFF;
}
